; When a Windows user installs dependencies, pnpm adds a tarball URL to its lock
; file. It is not entirely clear why this occurs, whether it is due to a
; specific user setting or pnpm's default behavior. In any case, explicitly
; enabling this setting avoids noise in commits.
lockfile-include-tarball-url=true
